<!doctype html>
<html>
   <body>
      <form action="http://34.145.110.112/addrec" method="POST">
         <h3>Student Information</h3>
         Name<br>
         <input type = "text" name = "Name" /></br>
         
         Address<br>
         <textarea name = "Address" ></textarea><br>
         
         City<br>
         <input type = "text" name = "City" /><br>
         
         PINCODE<br>
         <input type = "text" name = "Pincode" /><br>
         <input type = "submit" value = "submit" /><br>
      </form>
   </body>
</html>


<!-- action = "http://flask-app:8000/addrec" method = "POST" -->